<div id = "volunteerbuttons">
    <b><h2>
        <a onclick="changeSub('experience.html', 'navExperience')" 
        class = "NavMenuButton keyPrjTbl" id ="navExperience" href="javascript:void(0);"> 
        Experience 
    </a><hr class = "NavBreaks" id ="navExperience">
    
    <a onclick="changeSub('qualifications.html', 'navQualifications')" 
        class = "NavMenuButton keyPrjTbl" id ="navQualifications" href="javascript:void(0);"> 
        Qualifications 
    </a><hr class = "NavBreaks" id ="navQualifications">

    <a onclick="changeSub('projects.html', 'navProjects')" 
        class = "NavMenuButton keyPrjTbl" id ="navProjects" href="javascript:void(0);"> 
        Projects 
    </a><hr class = "NavBreaks" id ="navProjects">

    <a onclick="changeSub('education.html', 'navEducation')" 
        class = "NavMenuButton keyPrjTbl" id ="navEducation" href="javascript:void(0);"> 
        Education 
    </a><hr class = "NavBreaks" id ="navEducation">

    <a onclick="changeSub('about.html', 'navAbout')" 
        class = "NavMenuButton keyPrjTbl" id ="navAbout" href="javascript:void(0);"> 
        About 
    </a><hr class = "NavBreaks" id ="navAbout">  

    </h2>
    </b>
</div>

<script>
    var currentPage;
    var currentID;
    var isPaused;

    function changeSubLoadToSection(mPage, mID, mElement){
        isPaused = true;
        console.log('--->Starting Change Sub changeSubLoadToSection ' + mElement);
        changeSub(mPage, mID);
        console.log('--->running change section on');

        waitForIt();

        function waitForIt(){
            if (isPaused) {
                setTimeout(function(){waitForIt()},100);
            } else {
                console.log('--->Starting toggleExp on changeSubLoadToSection');
                //page caled in changeSub is loading too slowley, toggleExp is beating page load. 
                toggleExpFull(mElement, false);
                console.log('--->Ending toggleExp on changeSubLoadToSection');
            }
        }
    }

    function changeSub(mPage, mID) {
        currentPage = mPage;
        currentID = mID;
        console.log("--->ChangeSub running nav for = " + mID);
        setNav();
        reloadArticle(currentPage);
        console.log("--->Finishing ChangeSub");
    }

    function setNav(){
        var docNavButtons = document.querySelectorAll("a.NavMenuButton");

        //Modify selected page with highlight class
        docNavButtons.forEach(element => { 
            if(element.getAttribute("id") == currentID){
                var mElement = document.getElementById(element.id);
                
                element.classList.add("NavMenuSelection");
            } else {
                if ( element.classList.contains('NavMenuSelection') )
                    element.classList.remove("NavMenuSelection");
            }
            
        });

        //Now for the hr element below
        var docNavBreaks = document.querySelectorAll("hr.NavBreaks");

        docNavBreaks.forEach(element => { 
            console.log("About to run element " + element.id)
            console.log("Current ID is  " + currentID)
            if(element.getAttribute("id") == currentID){
                console.log("**About to add selection to " + element.id)
                var mElement = document.getElementById(element.id);
                console.log(element)
                element.classList.add("NavMenuSelectionBar");
            } else {
                if ( element.classList.contains('NavMenuSelectionBar') )
                    element.classList.remove("NavMenuSelectionBar");
            }
            
        });
    }

    var DEF_PAGE = "experience.html";
    var DEF_ID = "navExperience";
    var DEF_PROJECT = "Datanets"

    $(function() {
        //changeSub("projects.html", "navProjects");
        changeSub(DEF_PAGE, DEF_ID);
    });
</script>