  /*  header style */
  header {
    background-color: 	#1F4E79;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  /*  two columns/boxes that floats next to each other */
  nav {
    background-image: linear-gradient(to right, #d5e7f1, #87b7d8);
  }

  article {
    background-color: white;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

 
  .NavMenuButton {
    position: relative;
    margin-top: 2px;
    margin-bottom: 1px;
    color: black;
    align-items: center;
    text-align: left;
    height: 35px;
    line-height: 30px;
    width: 100%;
    display: "block";
  }

  .NavMenuSelection {
    color: rgb(150, 56, 56);
    font-style: italic;
  }


  .NavBreaks {
    border: 1px solid rgb(104, 177, 211);
    margin-top: 2px;
    margin-bottom: 35px;
  }

  .NavMenuSelectionBar{
    border-color: rgb(150, 56, 56);
  }

  a {
    display: block;
    width: 200px;
    height: 35px;
    line-height: 30px;
    text-decoration: none;
  }

  a:hover {
    font-style:italic
  }



  


   /* Style the list inside the menu */
   nav ul {
    list-style-type: none;
    padding: 0;
  }

 

  .HeaderOutline {
    border: 1px solid rgb(134, 138, 139);
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .HeaderDetail {
    color: black;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 50px;
  }

  .HeaderText {
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(68, 114, 156);
    margin-left: 8px;
  }

  .myFooter {
    position: relative;
    vertical-align: inherit;
  }

  .subHeader {
    display: inline;
    float: left;
    font-size: x-large
  }
  .subSubHeader{

    float: right;
  }

  .ExperienceGroup{
    text-align: left;
    padding-left: 25px;
  }

  .thStandard{
    text-align: left;
    padding-left: 25px;
  }

  .tdStandard{
    text-align: left;
    padding-left: 25px;
  }

  .dateAndLocation{
    text-align: left;
    padding-left: 25px;
  }

.indentedList{
  padding-left: 100px;
}

.indHeader{
  padding-left: 75px;
}

.toggleButton {
  display: inline;
  
  border-radius: 25px;
  border: 3px solid rgb(73, 146, 180);
  color: rgb(73, 146, 180);
  background-color: white;
  margin-right: 10px;             
  z-index: 1
}
.imageCaption{
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer{
  width: 60vw;
  height: 50vh;
  text-align: center
}

.imageFill{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  object-fit: contain;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.imageFill:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 80%;
  /*max-width: 700px;*/
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.keyProjects{
  margin: 1em auto;
  border: 1px solid #95b3d7;
  text-align: center;
}

.keyProjectsBody:nth-child(even) {background-color: #f2f2f2;}

.keyProjectsHead{
    background: #4f81bd;
    text-transform: lowercase;
    font-size: 15px;
    color: #fff;
}